<launch>


  <node pkg="mode_decider" name="mode_decider" type="mode_decider" output="screen">
  </node>
  <node pkg="node_controller" name="node_controller" type="node_controller" output="screen">
  </node>

  <!--
  <include file="$(find node_controller)/launch/node_controller.launch">
  </include>
-->
</launch>
